<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>
  <script src="https://connect-cdn.atl-paas.net/all.js" type="text/javascript" data-options="sizeToParent:true"></script>
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui.css" media="all">
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui-experimental.css" media="all">
  <!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui-ie9.css" media="all"><![endif]-->
  <style>
    body {
      background-color: white;
    }
  </style>
</head>
<body>
<div id="homepage" class="ac-content">
</div>
<script type="text/javascript" src="/dist/js/homepage.bundle.js"></script>
</body>
</html>


